body {
    background-color: #3d5a7c;
}

@media only screen and (max-width: 400px) {
    .main, .menuTabs {
        flex: available;
        align-self: center;
    }

    .main {
        margin: 0;
        padding: 10px;
        background-color: #3c3439;
        font-size: 15px;
    }

    .menuTabs {
        display: flex;
    }

    .menuTabs > button {
        background-color: #6a8eb9;
        margin: 1px;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
        box-shadow: -1px 1px #3d5a7c;
    }

    .mainCol1, .mainCol2 {
        background-color: #4e586c;
    }

    button {
        font-size: 13px;
        background-color: transparent;
        border: 0;
    }

    img {
        height: 20px;
        width: 20px;
    }

    table, div{
        text-align: justify;
        vertical-align: middle;
        flex: content;
    }
    /** SEARCH INPUT **/
    .searchInput input {
        border-radius: 5px;
        margin: 5px;
    }

    .characterGrid {
        align-items: revert;
        display: block;
        min-width: 200px;
        overflow-y: auto;
        max-height: 200px;
        min-height: 100px;
        height: auto;
        max-width: 300px;
    }

    .charInfoCell {
        vertical-align: middle;
        width: 100%;
    }

    .charInfoCell.title {
        text-align: center;
        margin-bottom: 10px;
    }

    .characterInfo {
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: #ac856e;
        box-shadow: -1.5px 1.5px #75594a;
    }

    .characterInfo label {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        border-bottom: 1px solid;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .main, .menuTabs {
        display: flex;
        flex: available;
        align-self: center;
    }

    .main {
        margin: 0;
        padding: 10px;
        background-color: #3c3439;
        font-size: 15px;
    }


    .menuTabs > button {
        background-color: #6a8eb9;
        margin: 1px;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
        box-shadow: -1px 1px #3d5a7c;
    }

    .mainCol1, .mainCol2 {
        background-color: #4e586c;
    }

    button {
        font-size: 13px;
        background-color: transparent;
        border: 0;
    }

    img {
        height: 20px;
        width: 20px;
    }

    table, div{
        text-align: justify;
        vertical-align: middle;
        flex: content;
    }
    /** SEARCH INPUT **/
    .searchInput input {
        border-radius: 5px;
        margin: 5px;
    }

    .characterGrid {
        align-items: revert;
        display: block;
        min-width: 200px;
        overflow-y: auto;
        max-height: 650px;
        min-height: 400px;
        height: auto;
        max-width: 300px;
    }

    .charInfoCell {
        display: flex;
        vertical-align: middle;
        width: 100%;
    }

    .characterInfo {
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: #ac856e;
        box-shadow: -1.5px 1.5px #75594a;
    }

    .characterInfo label {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        border-bottom: 1px solid;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .main, .menuTabs {
        display: flex;
        flex: available;
        align-self: center;
    }

    .main {
        margin: 0;
        padding: 10px;
        background-color: #3c3439;
        font-size: 15px;
    }


    .menuTabs > button {
        background-color: #6a8eb9;
        margin: 1px;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
        box-shadow: -1px 1px #3d5a7c;
    }

    .mainCol1, .mainCol2 {
        background-color: #4e586c;
    }

    button {
        font-size: 13px;
        background-color: transparent;
        border: 0;
    }

    img {
        height: 20px;
        width: 20px;
    }

    table, div{
        text-align: justify;
        vertical-align: middle;
        flex: content;
    }
    /** SEARCH INPUT **/
    .searchInput input {
        border-radius: 5px;
        margin: 5px;
    }

    .characterGrid {
        align-items: revert;
        display: block;
        min-width: 200px;
        overflow-y: auto;
        max-height: 650px;
        min-height: 400px;
        height: auto;
        max-width: 300px;
    }

    .charInfoCell {
        display: flex;
        vertical-align: middle;
        width: 100%;
    }

    .characterInfo {
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: #ac856e;
        box-shadow: -1.5px 1.5px #75594a;
    }

    .characterInfo label {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        border-bottom: 1px solid;
    }
}